h1 {
    border: 2px solid red;
    border-radius: 20px;
    font-size: medium;
    text-align: center;
}

.lev {
    width: 45%;
}

.slon {
    width: 54%;
    height: 339px;
}

.Abu {
    text-align: center;
}

div {
    text-align: center;
    background-color: black;
    border-radius: 10px;
}

input {
    border: 1px solid gray;
}

button {
    color: white;
    background-color: rgba(148, 203, 255, 0.671);
    width: 200px;
    height: 40px;
    border: 1px solid rgba(148, 203, 255, 0.671);
}

table {
    text-align: center;
}

th {
    color: aliceblue;
}

td {
    color: aliceblue;
}